<p style="font-family:Sofia;" style="text-align:center;"></p>
<h1 style="font-family:Sofia" style="text-align:center"  ><font size=8em>About Us</font></h1>
<hr> 
<p style="font-family:Sofia" style="text-align:center"><font size=5em>Bla bla bla ... Established since 2021, Mayfield Bakery is commited to capture the flavor and tradition of bread's ethnic recipes.<br>
  
  The water, dairy, eggs, and flour used in our recipes are provided from  farms in the Adirondak's park.</font>
</p>

