
<p style="font-family:Sofia" style="text-align:center"> </p>
<div class="jumbotron mt-4" >
  <h1 style="font-family:Sofia" style="text-align:center" ><font size=8em;>Mayfield Bakery</font></h1>
  <p style="font-family:Sofia" >A simple App to manage orders, questions, and comments</p>
  <hr style="text-align:center"> 
  <p style="font-family:Sofia">
  </p>
  <a class="btn btn-primary btn-lg" href="http://blogx.com" role="button"  style="background: goldenrod; " >Explore Our Recipes</a>
</div>

