
<p style="font-family:Sofia" > </p>
<div class="jumbotron mt-4 mx-auto" >
  <h1 style="font-family:Sofia"  ><font size=8em;>Mayfield Bakery</font></h1>
  <p style="font-family:Sofia" >A simple App to manage orders, questions, and comments</p>
  <hr> 
  <p style="text-align:center" >
     <a class="btn btn-primary btn-lg" href="/" role="button"  style="background: goldenrod; " >Explore Our Recipes</a>
  </p>


</div>