body {
  background-image: url("/src/public/img/BakeryTable.JPG");
  background: #c9d6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  );/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*font-family: "Sofia", sans-serif;*/

} 


body {
  background-image: url("/src/public/img/BakeryTable.JPG");
}
div {
  background-image: url('/src/public/img/BakeryTable.JPG');
}

p {
  text-align:center;
}

h1{
  text-align:center;
}

.logo {
  width: 30%;
}
